<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>Document</title>
</head>
<body>
    <div class='ui padded centered grid'>
        <div class='row'>
            <p>The person you are trying to recommend for doesn't have an account yet. Ask them to log in.</p>
        </div>
                    


    </div>

</body>
</html>