<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="container">

        <h2>Hi {{pd.display_name}}</h2>
        <h4>Here are your recommendations</h4>

            {%for track in tr %}
            <div class="card">

                <img class="album-img" src="{{track.img_url}}" />                

                <div class="song-description">
                    <h4>{{track.title}}</h4>
                    <h6>{{track.artist}}</h6>
                    
                </div>
                <a class="add" href="{{url_for('like', id=pd['uri'], uri=track.uri)}}">+</a>
            </div>    

            


                

            {%endfor%}        


    </div>


</body>
</html>