<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>Document</title>
</head>
<body>
    <div class="ui padded grid centered">

        <h3 class="row" >Hi {{pd.display_name}}</h3>
        <h3 class="row">Here are your recommendations</h3>
        <div class="ui grid centered items">
            {%for track in tr %}
            <div class="item">

                <img class="ui small image" src="{{track.img_url}}" />                

                <div class="content">
                    <p class="header">{{track.title}}</p>
                    <p class="meta">{{track.artist}}</p>
                    
                </div>
                <a class="ui button primary" href="{{url_for('like', id=pd['uri'], uri=track.uri)}}">add</a>
            </div>    

            


                

            {%endfor%}        
        </div>

    </div>


</body>
</html>