<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">   
    <title>Recommendations</title>
</head>
<body>
    <div class="container">
        <h3 class="row">Recommend {{name}} a song</h3>
        <div class="row">
            <img class="image" src="{{img_url}}" />
        </div>

        <form method="POST" action="{{url_for('results',id=id)}}">
            <input class="input"  type='text' name='recommendation'>

            
            <button class="submit"type='submit'>Search</button>
        </form>

    </div>
</body>
</html>